absl-py==0.11.0
asn1crypto==0.24.0
astor==0.8.1
backports.weakref==1.0.post1
cryptography==2.1.4
enum34==1.1.10
funcsigs==1.0.2
futures==3.3.0
gast==0.4.0
grpcio==1.33.2
h5py==2.10.0
idna==2.6
ipaddress==1.0.17
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==10.6.0
keyrings.alt==3.0
Markdown==3.1.1
mock==3.0.5
numpy==1.16.6
onnx==1.7.0
-e git+https://github.com/onnx/onnx-tensorflow.git@6b9e76d6fca74d5ddbf47049b9670120abaaf70f#egg=onnx_tf
opencv-contrib-python==4.2.0.32
protobuf==3.13.0
pycrypto==2.6.1
pygobject==3.26.1
pyxdg==0.25
PyYAML==5.3.1
SecretStorage==2.3.1
six==1.15.0
tensorboard==1.12.2
tensorflow-gpu==1.12.0
termcolor==1.1.0
typing==3.7.4.3
typing-extensions==3.7.4.3
Werkzeug==1.0.1
